<!DOCTYPE html>

<html>
    <head>
        <title>Cotizar Presupuesto Online</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="Style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1 align="center">PEDIR COTIZACION ONLINE</h1>
        <p>Con Avitmat pedí tu cotización de nuestros productos y te lo enviamos en unos minutos</p>
        <p>Nos das el OK, te preparamos tu pedido y lo dejamos listo para que lo retires sin perder tiempo</p>
        <br>
        <p><strong>¿Cómo hago el pedido?</strong></p>
        <p>Selecciona los artículos que necesitas,</p>
        <p>Ingresa la cantidad</p>
        <p>Clic en enciar con tus datos y listo, en unos minutos recibiras el presupuesto en tu correo y whatsapp</p>
        <br>
        
        <button type="submit" class="btn btn-primary">
            <a href="/cotizacion/confirmar">HACER PEDIDO</a>
        </button>
        
        
        
    </body>
</html>
